# Binaries, executables
*
!*.*
!*/


# Agent models, results
agent/
results/

# Python
__pycache__/
*.py[cod]
*$py.class
.ipynb_checkpoints


# Photos, PDFs, CSVs
*.png
*.jpg
*.jpeg
*.pdf
*.csv
!results/*.csv
!results/**/*.csv

# R
.Rhistory


# MacOS
.DS_Store
__MACOSX
*.dSYM


# JetBrains
.idea

